div {
    width: 100%;
}


.center {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}


li{
 font-size:20px;
 text-align: center;
 list-style-position: inside;
 list-style-type: none;
}

p {
	font-size: 40px;
	margin-top: 2px;
    
}

.footer{
    
	font-size: 36px;
	text-align: center;
}

header {
    
    background-color: darkblue;
    width: 100%;
}

body {
    background-color: white;
}
